@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  width: 100%;
  height: 150px;
  padding: 20px 32px;
  background-color: #ff7601;
  position: fixed;
  top: 0;
  flex-direction: row;
  display:flex;
  justify-content: space-between;
  div{
    align-self: center;
  }
}


body{
  margin-top: 160px;
  color: white;
  
  strong{
    font-size: 60px;
  }

  small{
    font-size: 20px;
    font-weight:bold;
  }

  i{
    font-size: 20px;
  }

  hr{
    width: 10%;
    border-width: 3px;
  }
}

button {
  &:hover{
    background-color: #ff7601;
    color: white;
    transition: 300ms;
  }
}


div.slide-pane__content{
    background-color: #ff7601;
    padding: 14px 14px;
}

.picture-title{
  font-weight: 700;
}

.material-symbols-outlined.size-20{
  color: white;
  font-size: 48px;
  font-variation-settings: 'OPSZ' 48;
}

.material-symbols-outlined.wght-700{
  font-weight: 700;
}

.image-restraint{
  width:180;
  height:74;
}